mailsuite>=1.9.4
yara-python>=4.2.0
pdftotext==2.2.2
simplejson>=3.17.6
nose
docutils<0.19,>=0.7
pygments
flake8
doc8
collective.checkdocs
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
sphinx
sphinx_rtd_theme
myst-parser
wheel
codecov
hatch
