mailsuite>=1.8.0
yara-python==4.2.0
pdftotext==2.2.2
nose
pygments
flake8
doc8
collective.checkdocs
jinja2
packaging
imagesize
alabaster
babel
rstcheck>=3.3.1
sphinx
sphinx_rtd_theme
myst-parser
wheel
codecov
